<div class="MainView">
  <div class="MenuView">
    <ng-container *ngIf="categoriesArr">
      <div
        *ngFor="let curr of categoriesArr"
        (click)="userClickedCategory(curr.strCategory)"
      >
        <h3
          [ngClass]="
            curr.strCategory === this.choosenCategoryId ? 'choosen' : ''
          "
        >
          {{ curr.strCategory }}
        </h3>
      </div>
    </ng-container>
    <app-food-category-card
      [foodCategory]="this.choosenCategory"
    ></app-food-category-card>
  </div>
  <div class="DetailsView">
    <!-- food- detailed view -->
    <app-food-dishes-detailed-view></app-food-dishes-detailed-view>
  </div>
</div>
