<div class="MainView">
  <div class="MenuView">
    <ng-container *ngIf="categoriesArr">
      <div
        *ngFor="let curr of categoriesArr"
        (click)="userClickedCategory(curr.strCategory)"
      >
        <app-food-category-tag-card
          [foodCategory]="curr"
          (clickedCategory)="onCategory($event)"
          [ngClass]="
            curr.strCategory === this.choosenCategoryId ? 'choosen' : ''
          "
        >
        </app-food-category-tag-card>
      </div>
    </ng-container>
  </div>

  <app-food-category-card
    class="viewFullDescription"
    *ngIf="this.choosenCategory"
    [foodCategory]="this.choosenCategory"
  >
  </app-food-category-card>

  <div class="DetailsView">
    <!-- food- detailed view -->
    <app-food-dishes-detailed-view></app-food-dishes-detailed-view>
  </div>
</div>
