.food-category-tag-card img {
  width: 40px;
  border-radius: 50%;
}
.food-category-tag-card {
  border: 1px solid rgb(173, 255, 189);
  background-color: rgba(173, 255, 189, 0.105);
  color: rgb(64, 64, 64);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}
.food-category-tag-card:hover {
  background-color: rgba(252, 255, 253, 0.501);
  border: 1px solid rgba(182, 255, 243, 0.668);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease, z-index 0.3s ease;
}
.food-category-tag-card .choosen {
  background-color: rgba(166, 255, 194, 0.8);
  border: 1px solid rgb(158, 239, 184);
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}
