.NavbarHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.NavbarLogo {
  padding: 10px;
  font-size: large;
  text-decoration: none;
  color: black;
}
.NavbarButton {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  border: 1px black solid;
}
.NavbarButton:hover {
  color: white;
  background-color: black;
}
.NavbarLogo:hover {
  text-shadow: 2px 2px #1f1f1f26;
}
.navbar {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
}
.navbar > div {
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.navbar > div:hover {
  color: rgb(106, 106, 106);
  text-shadow: 2px 2px #1f1f1f26;
  outline-color: rgba(0, 0, 0, 0.7);
}
/*
.tafrit{
    display:block;
}

.hamburgerTafrit{
    display: none;
}

@media(max-width=300px){
    .tafrit{
        display:none;
    }

    .hamburgerTafrit{
        display: block;
    }
}
    */
