.InstructionView {
  padding: 20px;
  margin: auto;
  background-color: antiquewhite;
}
.InstructionImg {
  height: 200px;
  border-radius: 30px;
}
.Instruction {
  background-image: linear-gradient(
    0deg,
    #b2a2cdbe 2.63%,
    #f3f2f519 2.63%,
    #f3f2f529 50%,
    #b2a2cddf 50%,
    #b2a2cdb9 52.63%,
    #f3f2f562 52.63%,
    #f3f2f516 100%
  );
  background-size: 3em 3em;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}
